// https://necolas.github.io/normalize.css/
@import "normalize.css/normalize";

// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

// http://fluidity.sexy
img,
canvas,
iframe,
video,
svg {
  max-width: 100%;
  height: auto;
}

// http://davidtheclark.github.io/scut/reset.html
@include scut-reset-semanticize;
@include scut-reset-pointer;
@include scut-reset-form;
@include scut-reset-button;
@include scut-reset-figure;
