$theme-color--blue: #00749E;
$theme-color--gray: #E2E4E3;
$theme-color--darkGray: #BEC0BF;

$type-fontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$type-fontFamily--headings: "Ranchers", cursive;
$type-lineHeight: 1.5;
$type-lineHeight--headings: 1.1;
